.price {
  padding: 75px 0 40px;
}
.price__row {
  margin: 0 5px;
}
.price__col {
  margin-bottom: 40px;
  padding: 20px;
  width: 33.333333%;
}
.price__select {
  float: none;
  margin: 0 auto 45px;
  padding-top: 10px;
}
.price__wrapper {
  padding: 20px;
  background: rgba(255, 255, 255, .7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  @include shadowmain;
  @include transition;
  &:hover {
    @include shadowmain_hover;
  }
}
.price__header {
  padding: 7px 0 25px;
  border-bottom: $border-thick_maincolor;
  text-align: center;
  font-size: 27px;
  line-height: 33px;
}
.price__options {
  margin: 0 -20px;
  padding: 16px 60px 23px;
  font-size: 18px;
  line-height: 26px;
}
.price__line {
  display: block;
  padding: 5px 0;
}
.price__line_disabled {
  color: #ababab;
}
.price__options-desc {
  position: relative;
  display: inline-block;
  top: 2px;
  width: 87%;
  margin-left: 8px;
  vertical-align: top;
  line-height: 1.3;
}
.price__options-markerplus::before {
  content: '+';
  position: absolute;
  top: 0;
  left: -15px;
  font-weight: 600;
  color: $maincolor;
  font-family: Arial;
}
.price__options-markerminus::before {
  content: '–';
  position: absolute;
  top: -3px;
  left: -15px;
  font-size: 18px;
  font-weight: 600;
  color: $maincolor;
  font-family: Arial;
}
.price__quarter {
  padding: 32px 0 8px;
  border-top: $border-thick_maincolor;
  text-align: center;
  font-size: 22px;
  line-height: 1;
}
.price__price {
  padding: 32px;
  border-top: $border-thick_maincolor;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #2d64af;
  line-height: 1;
}
.price__action {
  font-size: 19px;
}
.price__category {
  position: relative;
  width: 29%;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 27px;
  line-height: 33px;
}
.price__category::before,
.rate__content::before {
  content: '';
  opacity: .05;
  position: absolute;
  top: -25px;
  right: 0;
  bottom: -25px;
  width: 1px;
  background: $black;
}
.price__type-options {
  width: 71%;
  padding-left: 30px;
  padding-bottom: 5px;
  font-size: 18px;
}