.scopes__header {
  padding-bottom: 20px;
}
.scopes__row {
  margin-bottom: 40px;
}
.scopes__item {
  width: 50%;
}
.scopes__delimiter {
  display: none;
}
.scopes__delimiter_md {
  display: block;
}
.scopes__text {
  max-width: 320px;
}
.scopes__and {
  padding-top: 10px;
  padding-bottom: 10px;
}