/* ___________3. HEADER  (Шапка)_______________ */
.panel__logo {
  width: 23%;
}
.panel__nav {
  width: 59%;
}
.nav__link {
  padding-right: 12px;
  padding-left: 12px;
}

.panel__phone {
  width: 18%;
}