.price__row {
  margin: 0 -15px;
}
.price__col {
  margin-bottom: 30px;
  padding: 15px;
}
.price__select {
  margin-bottom: 15px;
}
.price__header {
  font-size: 22px;
  line-height: 1.2;
}
.price__options {
  padding: 15px 20px;
}
.price__price {
  padding: 25px;
}

.price__category {
  width: 35%;
}
.price__type-options {
  width: 65%;
}