.promo {
  padding-bottom: 15px;
}
.promo_inner {
  padding-bottom: 0;
}
.promo__header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}
.promo__description {
  margin-top: 15px;
  margin-bottom: 20px;
}