.footer {
  padding-top: 15px;
  padding-bottom: 20px;
}

.footer__nav {
  padding-top: 0;
  padding-bottom: 0;
}

.footer__phone {
  padding-top: 0;
  padding-bottom: 0;
}

.footer__copyright {
  position: absolute;
  right: 15px;
  bottom: -20px;
}