doctype html
html(lang="ru")
  head
    include chunks-pug/tpl.head-common_part.pug
    include chunks-pug/tpl.zkp-head_link.pug

  body.price-page

    include chunks-pug/tpl.menu-header.pug

    include chunks-pug/tpl.zkp-price.pug

    //- include chunks-pug/tpl.zkp-stocks.pug

    footer.footer.panel
      include chunks-pug/tpl.zkp-footer.pug

    include chunks-pug/tpl.zkp-scripts.pug