section.promo.section.promo_index
  .container.promo__container
    .container__row
      .promo__header.container__col
        h1.title Закупки
      .promo__description.container__col
        | Сервис поиска государственных и коммерческих закупок поможет работать с закупками, следить за их изменениями, анализировать заказчиков и конкурентов
      .promo__action.container__col
        a.promo__link.button.button_wide(href="order-common.html") Отправить заявку
      .clear