header.header.panel
  .container.container_panel
    .container__row
      .header__logo.panel__logo.container__col
        a.logo.logo_white(href="./")
          img.logo__img(src="/assets/kontur_zkp/img/logo_green.png", alt="")
          span.logo__text mskkontur.ru
      .header__nav.panel__nav.container__col
        ul.nav
          li.nav__item.nav__item-hidden_md
            a.nav__link(href="") Онлайн-кассы
          li.nav__item.nav__item-hidden_md
            a.nav__link(href="") ЭЦП
          li.nav__item.nav__item-hidden_md
            a.nav__link(href="") Сдача отчётности
          li.nav__item.nav__item-sub
            a.nav__link(href="javascript:void(0);")
              i.icon-burger
              | Все продукты
            ul.sub-nav
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/extern-ico.png", alt="Контур Экстерн")
                  span.sub-nav__product
                    span.sub-nav__product-title Экстерн
                    span.sub-nav__product-desc Отчетность и другие сервисы для бухгалтера
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/ofd-ico.png", alt="Контур ОФД")
                  span.sub-nav__product
                    span.sub-nav__product-title ОФД
                    span.sub-nav__product-desc Передача фискальных данных
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/udocenter-ico.png", alt="Контур Удостоверяющий Центр")
                  span.sub-nav__product
                    span.sub-nav__product-title Удостоверяющий центр
                    span.sub-nav__product-desc Электронная подпись для любых задач
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/zakupki-ico.png", alt="Контур Закупки")
                  span.sub-nav__product
                    span.sub-nav__product-title Закупки
                    span.sub-nav__product-desc Поиск и анализ закупок
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/alkoreport-ico.png", alt="Контур ЕГАИС")
                  span.sub-nav__product
                    span.sub-nav__product-title Алкогольная отчетность
                    span.sub-nav__product-desc Подготовка и отправка отчетности в ФСРАР
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/diadok-ico.png", alt="Контур Диадок")
                  span.sub-nav__product
                    span.sub-nav__product-title Диадок
                    span.sub-nav__product-desc Электронный документооборот
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/normativ-ico.png", alt="Контур Норматив")
                  span.sub-nav__product
                    span.sub-nav__product-title Норматив
                    span.sub-nav__product-desc Справочно-правовой сервис
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/fokus-ico.png", alt="Контур Фокус")
                  span.sub-nav__product
                    span.sub-nav__product-title Фокус
                    span.sub-nav__product-desc Проверка контрагентов
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/elba-ico.png", alt="Контур Эльба")
                  span.sub-nav__product
                    span.sub-nav__product-title Эльба
                    span.sub-nav__product-desc Бухгалтерия для ИП
              li.sub-nav__item
                a.sub-nav__link(href="#")
                  img.sub-nav__item-ico(src="/assets/kontur_zkp/img/ico/products/bukhg-ico.png", alt="Контур Бухгалтерия")
                  span.sub-nav__product
                    span.sub-nav__product-title Бухгалтерия
                    span.sub-nav__product-desc Бухгалтерия, отчетность, зарплата
      .header__phone.panel__phone.container__col
        a.phone(href="tel:88007707448")
          | 8 800 770 74 48
      .clear