.section.employment
  .container
    .section__header.title.employment__header Возможности
    .container__col
      .employment__item
        .employment__ico
          img.employment__img(src="/assets/kontur_zkp/img/scope/search.png", alt="Поиск закупок")
        .employment__title.title Поиск закупок
        .employment__text
          | Умный поиск позволит вам найти нужные закупки по ключевым словам, названию закупки, отрасли, региону, цене
    .container__col
      .employment__item
        .employment__ico
          img.employment__img(src="/assets/kontur_zkp/img/scope/reminder.png", alt="Уведомление о новых закупках")
        .employment__title.title Уведомление о новых закупках
        .employment__text
          | Настройте получение уведомлений по электронной почте - и вы не попустите появление новых закупок
    .clear
    .container__col
      .employment__item
        .employment__ico
          img.employment__img(src="/assets/kontur_zkp/img/scope/analysis.png", alt="Анализируйте заказчиков и поставщиков")
        .employment__title.title Анализируйте заказчиков и поставщиков
        .employment__text
          | Просматривайте статистику по закупкам заказчика и его поставщикам, анализируйте закупки по отрасли и региону за последний месяц, квартал или год.
    .container__col
      .employment__item
        .employment__ico
          img.employment__img(src="/assets/kontur_zkp/img/scope/interest.png", alt="Отслеживание интересующих закупок")
        .employment__title.title Отслеживание интересующих закупок
        .employment__text Интересующие вас закупки добавляйте в избранное и выгружайте в Excel - для дальнейшего их изучения и анализа
    .clear