.section.scopes
  .container
    .section__header.title.scopes__header Возможности
    .scopes__wrapper
      .scopes__row
        .container__col.scopes__item
          .scopes__ico
            img.scopes__img(src="/assets/kontur_bk/img/scope/webclient.png", alt="Удобный веб-клиент")
          .scopes__text Удобный веб-клиент
        .container__col.scopes__item
          .scopes__ico
            img.scopes__img(src="/assets/kontur_bk/img/scope/organz.png", alt="Отчётность в контролирующие органы")
          .scopes__text Отчётность в контролирующие органы
        .clear.scopes__delimiter.scopes__delimiter_md
        .container__col.scopes__item
          .scopes__ico
            img.scopes__img(src="/assets/kontur_bk/img/scope/salary.png", alt="Расчёт зарплаты, больничных, отпускных, налогов и взносов")
          .scopes__text Расчёт зарплаты, больничных, отпускных, налогов и взносов
        .clear.scopes__delimiter
        .container__col.scopes__item
          .scopes__ico
            img.scopes__img(src="/assets/kontur_bk/img/scope/tax-system.png", alt="Бухгалтерский и налоговый учет для УСН, ЕНВД и ОСНО")
          .scopes__text Бухгалтерский и налоговый учет для УСН, ЕНВД и ОСНО
        .clear.scopes__delimiter.scopes__delimiter_md
        .container__col.scopes__item
          .scopes__ico
            img.scopes__img(src="/assets/kontur_bk/img/scope/businessinfo.png", alt="Информация, необходимая для ведения бизнеса")
          .scopes__text Информация, необходимая для ведения бизнеса
        .container__col.scopes__item
          .scopes__ico
            img.scopes__img(src="/assets/kontur_bk/img/scope/edo.png", alt="Организация совместной работы")
          .scopes__text Электронный документооборот с контрагентами
        .clear