.container.container_panel
  .container__row
    .footer__logo.panel__logo-footer.container__col
      a.logo(href="./")
        img.logo__img(src="/assets/kontur_zkp/img/logo.png", alt="")
        span.logo__text-footer Оптимизация документооборота
    .footer__nav.panel__nav-footer.container__col
      ul.nav
        li.nav__item
          a.nav__link(href="#products") Продукты
        li.nav__item
          a.nav__link.js-scroll(href="#clients") Клиенты
        li.nav__item
          a.nav__link.js-scroll(href="#contacts") Контакты
    .footer__phone.panel__phone-footer.container__col
      a.phone(href="tel:+78007707448")
        span.phone__code +7 800
        |   770 74 48
    .clear
  .footer__copyright
    a.footer__copyright-link(href="http://www.ne-prosto.ru/", target="_blank")
      img.footer__copyright-img(src="/assets/kontur_zkp/img/neprosto.png", alt="")