.section.price
  .container
    .section__header.title Тарифы и цены
    form.price__row(action="", method="post")
      
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix Старт
          .price__options.js-price-fix
            label.price__line
              input(type="checkbox", name="zkp_chbx_price1", checked, disabled)
              span.price__options-desc
                | Поиск закупок по 44-ФЗ
            label.price__line
              input(type="checkbox", name="zkp_chbx_price1", checked, disabled)
              span.price__options-desc
                | Шаблоны поиска и уведомления на электронную почту по ним
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price1", disabled)
              span.price__options-desc
                | Поиск закупок по 223-ФЗ и коммерческим площадкам
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price1", disabled)
              span.price__options-desc
                | Избранное и цветные метки
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price1", disabled)
              span.price__options-desc
                | Выгрузка в Excel
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price1", disabled)
              span.price__options-desc
                | Протоколы завершённых закупок
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price1", disabled)
              span.price__options-desc
                | Анализ заказчиков и конкурентов
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price1", disabled)
              span.price__options-desc
                | Поиск запланированных закупок по 44-ФЗ, 223-ФЗ
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price1", disabled)
              span.price__options-desc
                | Арбитражные дела
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price1", disabled)
              span.price__options-desc
                | Вебинары от экспертов
          .price__price 4 500 Р в год
          .price__action
            a.button.button_wide(href="order-tariff.html") Подключиться
      
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix Стандарт
          .price__options.js-price-fix
            label.price__line
              input(type="checkbox", name="zkp_chbx_price2", checked, disabled)
              span.price__options-desc
                | Поиск закупок по 44-ФЗ
            label.price__line
              input(type="checkbox", name="zkp_chbx_price2", checked, disabled)
              span.price__options-desc
                | Шаблоны поиска и уведомления на электронную почту по ним
            label.price__line
              input(type="checkbox", name="zkp_chbx_price2", checked, disabled)
              span.price__options-desc
                | Поиск закупок по 223-ФЗ и коммерческим площадкам
            label.price__line
              input(type="checkbox", name="zkp_chbx_price2", checked, disabled)
              span.price__options-desc
                | Избранное и цветные метки
            label.price__line
              input(type="checkbox", name="zkp_chbx_price2", checked, disabled)
              span.price__options-desc
                | Выгрузка в Excel
            label.price__line
              input(type="checkbox", name="zkp_chbx_price2", checked, disabled)
              span.price__options-desc
                | Протоколы завершённых закупок
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price2", disabled)
              span.price__options-desc
                | Анализ заказчиков и конкурентов
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price2", disabled)
              span.price__options-desc
                | Поиск запланированных закупок по 44-ФЗ, 223-ФЗ
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price2", disabled)
              span.price__options-desc
                | Арбитражные дела
            label.price__line.price__line_disabled
              input(type="checkbox", name="zkp_chbx_price2", disabled)
              span.price__options-desc
                | Вебинары от экспертов
          .price__price 12 000 Р в год
          .price__action
            a.button.button_wide(href="order-tariff.html") Подключиться
      
      .container__col.price__col
        .price__wrapper
          .price__header.title.js-price-fix Эксперт
          .price__options.js-price-fix
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Поиск закупок по 44-ФЗ
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Шаблоны поиска и уведомления на электронную почту по ним
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Поиск закупок по 223-ФЗ и коммерческим площадкам
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Избранное и цветные метки
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Выгрузка в Excel
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Протоколы завершённых закупок
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Анализ заказчиков и конкурентов
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Поиск запланированных закупок по 44-ФЗ, 223-ФЗ
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Арбитражные дела
            label.price__line
              input(type="checkbox", name="zkp_chbx_price3", checked, disabled)
              span.price__options-desc
                | Вебинары от экспертов
          .price__price 26 500 Р в год
          .price__action
            a.button.button_wide(href="order-tariff.html") Подключиться
      .clear
