#contacts.contacts
  .contacts__wrap
    .container.container_contacts
      .container__col.contacts__header.js-contacts-fix
        .contacts__title.title Связаться с нами
        a.contacts__link.contacts__link_phone(href="tel:+78007707448") 8 800 770 74 48
        a.contacts__link.contacts__link_message(href="mailto:info@mskkontur.ru") info@mskkontur.ru
      .container__col.contacts__items.js-contacts-fix
        .container__col.contacts__item.address
          .address__wrap
            .address__title.title Москва
            .address__full Большой Знаменский пер., 8/12 стр
        .container__col.contacts__item.address
          .address__wrap
            .address__title.title Нахабино
            .address__full ул. Институтская, дом 13, к.1, 1й подъезд, домофон 100
        .container__col.contacts__item.address
          .address__wrap
            .address__title.title Истра
            .address__full ул. Пролетарская, д. 1, оф. 11
        .clear
        .container__col.contacts__item.address
          .address__wrap
            .address__title.title Красногорск
            .address__full микрорайон Чернево-2, ул. Вилора Трифонова, д. 6
        .clear
      .clear
  #map.contacts__map